

.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }
    .user_div{
        padding: 20px;
        width: 100%;
        height: 260px;
        background: linear-gradient( to right, #A020F0, #0665AC);
        padding-top: 40px;
        .menu_btn{
            // font-size: 25px;
            color: white;
            position: absolute;
        }

        ion-label {
            display: block;
            color: white;
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            margin-top: 5px;
        }
        .track_lbl{
            color: white;
            display: block;
            text-align: left;
            font-weight: normal;
            margin-top: 20px;
        }
    }
    ion-label {
        display: block;
        margin-top: 25px;
        font-size: 20px;
        font-weight: 600;
        color: var(--ion-color-primary);
    }

    ion-icon{
        color: var(--ion-color-primary);
        font-size: 20px;
        padding: 10px;
        
    }

    ion-input{
        background: #f3f3f3;
        border-radius: 15px;
        --padding-start: 8px;
        margin-top: 15px;
        height: 50px;
    }

    ion-select{
        background: #f3f3f3;
        border-radius: 15px;
        --padding-start: 8px;
        margin-top: 15px;
        height: 50px;
    }

    ion-textarea{
        background: #f3f3f3;
        border-radius: 15px;
        --padding-start: 8px;
        margin-top: 15px;
        //height: 50px;
    }
    .coverReal{
        margin-top: 10px;
        width: 100%;
        height: 150px;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .coverReal1{
        margin-top: 10px;
        width: 100%;
        height: 150px;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .coverPlaceholder{
        text-align: center;
        padding: 30px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-top: 10px;
    }

    ion-button{
        --border-radius: 15px;
        margin-top: 20px;
        height: 50px;
        --background: linear-gradient( to right, #A020F0, #0665AC);
    }
    
    .content_div{
        background: white;
        width: 100%;
        border-top-left-radius: 75px;
        margin-top: -170px;
        padding: 20px;
        height: 300px;

        .test{
            height: 50px;
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    
        .active{
            border-bottom: 3px solid var(--ion-color-primary);
            color: var(--ion-color-primary) !important;
        }
    
        .active2{
            color: var(--ion-color-primary) !important;
        }
    
        .chips_div{
            display: flex;
            flex-direction: row;
            overflow: scroll;
            border-bottom: 1px solid lightgray;
            .chip{
                
                white-space: nowrap;
                color: gray;
                font-size: 14px;
                font-weight: bold;
            }  
        }

        .subject_content{

            padding-top: 20px;
            .title_lbl{
                
                text-align: center;
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .flex_div{
                display: flex;
                width: 100%;
                align-items: center;
                border-bottom: 1px solid lightgray;
                padding-bottom: 20px;

                .progress_div{
                    padding-left: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 120px;
                    ion-label {
                        margin-bottom: 3px;
                        font-size: 13px;
                    }

                    .p1{
                        --progress-background: #0665AC;
                    }
                    .p2{
                        --progress-background: var(--ion-color-warning);
                    }
                    .p3{
                        --progress-background: #e03d60;
                    }
                }
            }

            ion-grid{
                padding: 0;
                margin-top: 20px;

                ion-row{
                    text-align: center;

                    .simple{
                        font-size: 13px;
                    }
                    .bold_lbl{
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }

            .btn_div{
                text-align: center;
                margin-top: 20px;

                ion-button{
                    --border-radius: 5px;
                    --background: linear-gradient( to right, #11416F, #0665AC);
                }
            }
        }
    }
}