ion-tabs{
	ion-tab-bar {
		--border: 0;
		--background: #A020F0;
		ion-tab-button {
			--background: #A020F0;
		}

	}
}

ion-icon{
	font-size: 25px;
    color: white;
}

ion-label{
    color: white;
}