<!-- <ion-header>
  <ion-toolbar>
    <ion-title>analysis-report</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main_content_div">

    <div class="user_div">
      
      <ion-buttons slot="start" class="menu_btn">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>

      <ion-label>Followers</ion-label>

      
    </div>

    <div class="content_div">
      <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      

      <div class="subject_content">
        <div *ngIf="!dummy?.length && !orders?.length" class="nothing">
          <ion-icon name="cloud-offline-outline"></ion-icon>
          <p class="bolder"> {{util.getString('You have no followers at the Moment!')}} </p>
          
        </div>

        <ion-item *ngFor="let item of dummy">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </ion-label>
      
        </ion-item>


        <div class="main_content_div1" *ngIf="orders?.length">


          <div class="content_div1">
      
            <div class="card_div" *ngFor="let item of orders">
      
              <div class="image_div">
                <img src="assets/imgs/courier.png">
              </div>
              <div class="desc_div">
               

                <br>
                <div class="border_bottom">
                  <p class="items">
                    <span>{{item.fname}} </span>
                    
                    
                  </p>
                  <p class="itemss">
                    <span>{{item.email}} </span>
                    
                   
                  </p>
                </div>
                <ion-label class="datetime" style="font-weight: bold;color: #A020F0;">Followed you at: {{ item.created_at}}</ion-label>
              </div>
              
            </div>
      
          </div>
        </div>

      </div>



    </div>
  </div>
</ion-content>